{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<div class="form-signin" style="max-width: 35%; margin: auto;">

    <form action="/login" method="post">
        <h2 class="h3 mb-3 fw-normal">Please sign in</h2>

        <div class="mb-3 form-group">
            <input autocomplete="off" autofocus require class="form-control" name="username" placeholder="Username"
                type="text">
        </div>
        <div class="mb-3 form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>

        <button class="btn btn-primary " type="submit">Log In</button>
    </form>
</div>
{% endblock %}